.div_front {
    position: absolute;
    z-index: 100;
}

.div_back_right {
    position: absolute;
    z-index: 0;
    left: 850px;
}

.div_back_left {
    position: absolute;
    z-index: 0;
    right: 900px;
}

.btn {
    background: linear-gradient(270deg, #624FAE 16.12%, #9E31D1 69.22%);
    box-shadow: 0px 8px 60px rgba(178, 49, 210, 0.5);
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 90px;
    transition: 0.5s ease;
}

.btn:hover {
    background: linear-gradient(270deg, #9E31D1 16.12%, #624FAE 69.22%);
}

.contact-card:focus {
    padding-top: 100px;
}

.card-contact_title {
    padding-top: 30px;
    font-size: 30px;
    color: #000000;
}

.cont_input {
    background-color: #988CCA;
    height: 60px;
    border-radius: 10px;
}

.cont_input:focus {
    background-color: #988CCA;
}

.cont_btn {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-group {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
}
