.modal_text {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}


.btn {
    background: linear-gradient(270deg, #624FAE 16.12%, #9E31D1 69.22%);
    box-shadow: 0px 8px 60px rgba(178, 49, 210, 0.5);
    font-size: 30px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px 60px;
    border-radius: 90px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.btn_mini {
    background: linear-gradient(270deg, #624FAE 16.12%, #9E31D1 69.22%);
    box-shadow: 0px 8px 60px rgba(178, 49, 210, 0.5);
    font-size: 18px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 90px;
    border: 0;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.btn_mini_2 {
    background: linear-gradient(270deg, #624FAE 16.12%, #9E31D1 69.22%);
    box-shadow: 0px 8px 60px rgba(178, 49, 210, 0.5);
    font-size: 18px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 90px;
    border: 0;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.btn_mini_3 {
    background: linear-gradient(270deg, #624FAE 16.12%, #9E31D1 69.22%);
    box-shadow: 0px 8px 60px rgba(178, 49, 210, 0.5);
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 90px;
    border: 0;
    transition: 0.5s ease;
}

.btn:hover {
    background: linear-gradient(270deg, #9E31D1 16.12%, #624FAE 69.22%);
}

.btn_mini:hover {
    background: linear-gradient(270deg, #9E31D1 16.12%, #624FAE 69.22%);
}

.button_modal {
    padding: 10px 20px;
}

.close {
    background-color: #624FAE !important;
}

.profile-cont_title {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 56px;
    padding-top: 50px;
}

.profile-cont_subtitle {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 40px;
    padding-top: 45px;
}

.profile-cont_img {
    padding-top: 45px;
}

.info-cont {
    padding-top: 70px;
}


.info-cont_text {
    padding-top: 25px;
    color: #FFFFFF;
    font-size: 24px;
}

.history-cont_cards {
    padding-top: 45px;
}

.history-cont_btn {
    padding-top: 100px;
}

.card-body_title {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-top: 40px;
}

.card-body_title:first-letter {
    text-transform: capitalize;
}

.card-body_text {
    text-align: left;
    padding-top: 40px;
    color: #000000;
    font-size: 18px;
}

.card-body_price {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000000;
    font-size: 18px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
}

.popup {
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #666;
    background-color: #fefefe;
    z-index: 1000;
    border-radius: 10px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 130, 230, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover {
    background-color: rgba(180, 20, 14, 0.8);
}

#overlay .popup p.zag {
    margin: 20px 0 10px;
    padding: 0 0 6px;
    color: tomato;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid tomato;
}

.profile_avatar {
    border-radius: 90%;
    height: 300px;
    width: 300px;
}

.alert_btn {
    padding-top: 40px;
}



